body {
  background-color: blue;
}
.navbar {
  width: 100%;
  height: 56px;
  background-color: red;
}
.menu {
  background-color: blue;
  position: relative;
  float: left;
  height: 100%;
  width: 5%;
}
.navbar-title {
  background-color: chartreuse;
  float: left;
  width: 60%;
  height: 100%;
  position: relative;
}
.search {
  background-color: blue;
  position: relative;
  float: left;
  height: 100%;
  width: 1%;
  float: right;
}

.menu {
  background-color: greenyellow;
}

.menu img {
  margin: 10px 0px 0px 10px;
}
.navbar-title {
  width: 60%;
  background-color: violet;
  text-align: center;
}
.filter {
  float: right;
  margin-top: 14px;
  margin-right: 10px;
  /* border: 2px solid #ccc; */
  /* border-radius: 5px; */
}
.filter-slc {
  height: 38px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
input[type="search"] {
  width: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 6px 10px 6px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
  margin-top: 12.5px;
  margin-right: 10px;
}
input[type="search"]:focus {
  width: 50%;
}
.list-menu {
  width: 5%;
  height: 611px;
  float: left;
}

.menubar {
  height: 60px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.12);
  /* width: 143%; */
}

.menubar span {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 2em;
  line-height: 60px;
}

#hambmenu {
  position: relative;
  width: 40px;
  height: 45px;
  float: left;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hambmenu span {
  position: absolute;
  height: 5px;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0 15px;
  background: black;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  padding: 0px;
}

.hambclicker {
  content: "";
  height: 48px;
  width: 55px;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 9;
}

#hambmenu span:nth-child(1) {
  top: 0px;
}

#hambmenu span:nth-child(2),
#hambmenu span:nth-child(3) {
  top: 10px;
}

#hambmenu span:nth-child(4) {
  top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#menu {
  position: absolute;
  height: calc(100vh - 60px);
  width: 115px;
  background-color: white;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
#menu ul {
  margin-top: 0px;
  padding: 0px;
  color: black;
  list-style-type: none;
  text-align: left;
}
#menu li {
  padding: 30px 0 20px 20px;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
#menu li:last-child {
  border-bottom: none;
}

.fa {
  color: black;
  padding-right: 8px;
}

li a {
  text-decoration: none;
  color: black;
}

#menu.isopen {
  -webkit-transform: none;
  transform: none;
  z-index: 100;
}

.nav-cart {
  /* background-color: #9C27B0; */
  height: 40px;
  margin-top: -19px;
  text-align: center;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
  color: black;
  font-weight: bold;
}
.cart-list {
  padding: 20px;
}
.shadow-cart {
  -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 600) {
  div.cart {
    display: block;
  }
}
.title-cart {
  /* margin-top: 50px; */
  font-size: 20px;
}
.rounded {
  border-radius: 60px;
  float: left;
  margin-right: 10px;
  margin: 5px;
  border: 10px;
  float: "left";
  margin: 10px;
  border: 10px;
}

.usepass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.tmbl {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.tmbl:hover {
  opacity: 0.8;
}

.container {
  padding: 50px;
  /* border-top: 5px solid rgba(94, 38, 38, 0.12); */
  /* border:  solid rgba(0, 0, 0, 0.12); */
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #3489eb;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 9px;
  width: 200px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.psw {
  text-align: right;
}

/* .form {
  border: 3px solid #f1f1f1;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
} */
.form-add {
  margin: auto;
  width: 38.4%;
  /* background-color: yellow; */
}

.footer {
  display: inline-block;
}

.form-style-3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /* background-color: #4caf50; */
  margin: auto;
}

.form-style-3 label {
  display: block;
  margin-bottom: 10px;
}

.form-style-3 label > span {
  float: left;
  width: 100px;
  color: #f072a9;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #ffd2d2;
  padding: 20px;
  background: #ab9898;
  /* box-shadow: inset 0px 0px 15px #FFE5E5; */
  /* -moz-box-shadow: inset 0px 0px 15px #FFE5E5; */
  /* -webkit-box-shadow: inset 0px 0px 15px #FFE5E5; */
  width: 500px;
}

.form-style-3 fieldset legend {
  color: #ffa0c9;
  border-top: 1px solid #ffd2d2;
  border-left: 1px solid #ffd2d2;
  border-right: 1px solid #ffd2d2;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #fff4f4;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #f1f1f1;
  -moz-box-shadow: -0px -1px 2px #f1f1f1;
  -webkit-box-shadow: -0px -1px 2px #f1f1f1;
  font-weight: normal;
  font-size: 12px;
}
.form-style-3 select,
.form-style-3 input[type="text"] {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ffc2dc;
  outline: none;
  color: #f072a9;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #ffd5e7;
  -moz-box-shadow: inset 1px 1px 4px #ffd5e7;
  -webkit-box-shadow: inset 1px 1px 4px #ffd5e7;
  background: #ffeff6;
  width: 50%;
}

.form-style-3 input[type="submit"] {
  background: #eb3b88;
  border: 1px solid #c94a81;
  padding: 5px 15px 5px 15px;
  color: #ffcbe2;
  box-shadow: inset -1px -1px 3px #ff62a7;
  -moz-box-shadow: inset -1px -1px 3px #ff62a7;
  -webkit-box-shadow: inset -1px -1px 3px #ff62a7;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}
.cartnull {
  font-size: 3vh;
  margin-top: -10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.cartnulldsc {
  font-size: 2vh;
  color: #ab9898;
  margin-top: -10px;
  font-family: Arial, Helvetica, sans-serif;
}
.crt-itm {
  display: inline;
}

.fixed {
  position: fixed;
  bottom: 0;
  width: 20%;
}

.btncc {
  width: 95%;
  margin-left: 20px;
  margin-right: 20px;
  height: 35px;
  margin-top: 10px;
  border: none;
  margin-bottom: 10px;
}
.btn-add {
  margin-right: 20px;
  position: relative;
  width: 100px;
  /* border-radius: 100000px; */
}
.title-add {
  font-size: 25px;
}
.container {
  margin-top: 50px;
  background-color: #ccc;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.lbl-hstry {
  float: right;
  margin-right: 50%;
  margin-top: 15px;
  font-weight: bold;
  font-size: large;
}
.cart-history {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-right: 20px;
  margin-left: 30px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px;
  padding: 20px;
  margin-right: 10px;
  height: 213px;
  border-radius: 10px;
  align-content: center;
}
.grid1 {
  background-color: rgba(255, 143, 178, 0.25);
}
.grid2 {
  background-color: rgba(41, 223, 255, 0.25);
}
.grid3 {
  background-image: linear-gradient(
    to bottom left,
    #ab84c8 15.07%,
    rgba(241, 201, 236, 0) 100%
  );
  background-color: rgba(241, 201, 236, 0.25);
}
.txt-nameProduct-checkout {
  margin-left: 80%;
}
.kolom {
  width: 80%;
}
.kolom-product {
  width: 20%;
}
.txt-onModel {
  font-size: 20px;
  font-weight: bold;
}
.btn-icon {
  background: none;
  border: none;
}
.login-screen {
  background-color: "lightblue";
  padding-top: 5%;
}
.title-login {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.history-area (max-width: 600px) {
  display: inline-block;
}
.list-area {
  display: grid;
  grid-template-columns: 70% 30%;
}
@media screen and (max-width: 600px) {
  .history-area {
    display: inline-block;
  }
}
.btn-cart {
  display: none;
}

.img-list {
  margin: 15px;
  width: 150px;
  height: 100px;
  border: 1px solid #354a61;
}
.txt-nameProduct {
  font-size: 20px;
  margin-top: 0px;
}
.txt-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: -20px;
}
@media screen and (max-width: 600px) {
  .cart {
    background-color: #4caf50;
    display: none;
  }

  .list-area {
    display: block;
  }
  .list {
    width: 100%;
  }
  .nav-cart {
    display: none;
  }
  .btn-cart {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .rounded {
    border-radius: 60px;
    float: left;
    margin-right: 10px;
    margin: 5px;
    border: 10px;
    background-color: transparent;
    float: "left";
    margin: 10px;
    border: 10px;
    padding: 0px;
  }
  .img-list {
    margin-top: 1px;
    margin-left: 0px;
  }
  .btn.btn-list {
    width: 13vw;
    height: 6vw;
    font-size: 2vw;
    margin-top: -20px;
  }
  .txt-nameProduct {
    font-size: 5vw;
    margin-top: 0px;
  }
  .txt-price {
    font-size: 4vw;
    font-weight: bold;
    margin-top: -20px;
  }
}
.btn.btn-list {
  border: 1px solid #ab9898;
  height: 30px;
  padding-top: 0px;
  padding: 0px 10px 0px 10px;
}
.img-area {
  border: 5px green;
  border-top: #354a61;
}
.btnaddreduce {
  border: none;
}
.btncncl {
  border: "none";
  color: "white";
  float: "right";
  margin-right: 20;
}
.red {
  color: red;
}
